# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/.idea/
/android/local.properties
/android/key.properties

# iOS / macOS
**/Pods/
**/Podfile.lock
**/DerivedData/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/ServiceDefinitions.json
**/Runner/GeneratedPluginRegistrant.*

# Windows / Linux
**/cmake-build-*/
**/CMakeFiles/
**/Makefile

# Web
.firebase/

# IDEs / Editors
.idea/
.vscode/
*.iml

# Logs & crash
*.log
*.pid
*.seed
*.swp
*.tmp
*.orig
*.rej
*.class
hs_err_pid*.log

# Env & secrets
.env
.env.*
/android/app/google-services.json

# Misc
.DS_Store
Thumbs.db
*.pyc
buildlog/
migrate_working_dir/
